body {
  text-align: center;
}

ul {
  list-style-position: inside;
  padding: 0;
}

a {
  display: inline-block;
  transition: transform 0.3s cubic-bezier(0.34, 1.56, 0.64, 1);
}

a:hover {
  transform: scale(1.2);
}
